<h1><%= @user.name %></h1>

<ul>
  <% @user.events.each do |event| %>
    <li><%= event.description %></li>
  <% end %>
</ul>

<ul>
  <%= @user.attended_events.each do |event| %>
    <li><%= event.description %></li>
  <% end %>
</ul>
